<!DOCTYPE html>
<html>
<a href="/rock">
    Play Rock
  </a>
</div>

<div>
  <a href="/paper">
    Play Paper
  </a>
</div>

<div>
  <a href="/scissors">
    Play Scissors
  </a>
<h1><%= @rand_play%></h1>
<h1><%=@paper_play%></h1>
<h1><%=@game_outcome%></h1>


<a href="/">Rules</a>




</html>
